.sidebar {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar > li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
    border-left: 3px solid transparent;
    color: #606C71;
}

.sidebar > li > a > .fa {
    width: 20px;
}

.sidebar > li:hover > a, .sidebar > li.active > a {
    color: #152999e5;
    border-left-color: #152999e5;
}

.sidebar > li .label,
.sidebar > li .badge {
    margin-top: 3px;
    margin-right: 5px;
}

.sidebar li.sidebar-header {
    padding: 10px 25px 10px 15px;
/*  font-size: 12px; */
    color: #606C71;
}

.sidebar li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
}

.sidebar li.active > a > .fa-angle-left {
    transform: rotate(-90deg);
}

.sidebar li.active > .sidebar-submenu {
    display: block;
}

.sidebar a {
    color: #606C71;
    text-decoration: none;
}

.sidebar .sidebar-submenu {
    display: none;
    list-style: none;
    padding-left: 5px;
    margin: 0 1px;
}

.sidebar .sidebar-submenu .sidebar-submenu {
    padding-left: 20px;
}

.sidebar .sidebar-submenu > li > a {
    padding: 5px 5px 5px 15px;
    display: block;
/*  font-size: 14px; */
    color: #606C71;
}

.sidebar .sidebar-submenu > li > a > .fa {
    width: 20px;
}

.sidebar .sidebar-submenu > li > a > .fa-angle-left,
.sidebar .sidebar-submenu > li > a > .fa-angle-down {
    width: auto;
}

.sidebar .sidebar-submenu > li.active > a, .sidebar .sidebar-submenu > li > a:hover {
    color: #152999e5;
}
