<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <link rel="shortcut icon" type="image/png" href="{{ "/favicon.png" | prepend: site.baseurl }}" >

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/sidebar.css' | relative_url }}">
  </head>
  <body>
    {% include navigation.html %}

    <aside>
    {% include toc.html html=content class='sidebar' submenu_class='sidebar-submenu' %}
    </aside>

    <main id="content" class="main-content" role="main">
      {{ content }}
      {% include footer.html %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src='{{ "assets/js/sidebar.js" | relative_url }}'></script>
    <script>
      anchors.options.placement = 'left';
      anchors.add();</script>
    <script>$.sidebarMenu($('.sidebar'))</script>
  </body>
</html>
